{% extends "base.html" %}
{% block content %}
  <!-- Hero -->
  <section class="flex-1">
    <div class="hero bg-base-100 h-full">
      <div class="hero-content text-center m-auto">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold font-heading">Floret</h1>
          <p class="py-6">Plant Smarter.</p>
          <a href="{% url 'profile' %}">
            <button class="btn btn-secondary">Get Started</button>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
