{# Main Marketing Footer #}
{# Usage: {% include 'components/footer.html' %} #}
{% load static %}
<div class="footer bg-base-200 text-base-content p-10">
  <aside>
    <div class="w-32">
      <img alt="Logo" src="{% static 'logo.png' %}" />
    </div>
    <p class="text-lg font-heading leading-none">Floret</p>
    <p class="leading-none">Plant Smarter.</p>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover-dots">Branding</a>
    <a class="link link-hover-dots">Design</a>
    <a class="link link-hover-dots">Marketing</a>
    <a class="link link-hover-dots">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover-dots">About us</a>
    <a class="link link-hover-dots">Contact</a>
    <a class="link link-hover-dots">Jobs</a>
    <a class="link link-hover-dots">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover-dots">Terms of use</a>
    <a class="link link-hover-dots">Privacy policy</a>
    <a class="link link-hover-dots">Cookie policy</a>
  </nav>
</div>
